.container {
    text-align: center;
    padding: 0 30px;
    margin-top: 30px;

    h2 {
        margin-top: 25px;
    }

    p {
        text-align: left;
        margin: 10px 0 20px 0;
    }
}

@media (min-width: 769px) and (max-width: 792px) {
    .shortText {
        height: 200px;
    }
}
@media (min-width: 793px) and (max-width: 860px) {
    .shortText {
        height: 190px;
    }
}

@media (min-width: 861px) and (max-width: 1215px) {
    .shortText {
        height: 170px;
    }
}

@media (min-width: 1216px) {
    .shortText {
        height: 160px;
    }
}  