// TODO create section layout
.wrapper {
    margin-top: 50px;
}

.about-container {
    h1 {
        padding: 5px 0;
    }
}

// TODO make this more clean
.column-content {
    padding: 0 30px;
    p {
        text-align: left;
    }
}

.team-member {
    img {
        border-radius: 50%;
        width: 80px;
        object-fit: cover;
        object-position: center center;
        margin: 0;
    }

    div {
        width: 100%;
    }

    h1 {
        font-size: 15px;
        font-weight: bold;
    }

    h2 {
        font-size: 14px;
    }
}