
.navbar {
  height: 60px;
  margin: 10px 20px;
}

.logo {
  img {
    width: 57px;
    height: 57px;
  }
}

.menu {
  align-items: center !important; 
}

link:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #18a0fb;
}