.container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 57px;
    height: 57px;
    margin: 0;
}

.separator {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 50px 0 50px;
}

.info-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 15px;

    span:last-child {
        margin-top: 10px;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: -0.23px;
        color: rgba(0, 0, 0, 0.8);
    } 

    span:first-child {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: -0.23px;
    }
}

.social-media {
    display: flex;
    margin-top: 5px;
    a {
        color: black;
        margin: 5px 10px;
    }
}